<div class="details_card" *ngIf="userDetailsObs | async as user">
    <div>
        <a  [routerLink]="'/users'" ><i class="pi pi-chevron-left" style="font-size: 1rem"></i>
        back</a>
     </div>
    <div>
        <img [src]="user.avatar" />
    </div>
    <div class="">
        <div class="flex">
            <div>
                <div class="label">First Name</div>
                <div>{{user.first_name}}</div>
            </div>
            <div>
                <div class="label">Last Name</div>
                <div>{{user.last_name}}</div>
            </div>
        </div>
        <div class="flex">
            <div>
                <div class="label">Email</div>
                <div class="user_info" >{{user.email}}</div>
            </div>
            <div>
                <div class="label">User ID</div>
                <div class="user_info" >{{user.id}}</div>
            </div>
        </div>
    </div>
</div>